* {
    box-sizing: border-box;
}

.title {
    background-color: rgb(178, 123, 22);
    color: rgb(150, 150, 205);
}

main {
    background-color: wheat;
    color: blue;
}

footer {
    background-color: wheat;
    color: blue;
}