* {
    box-sizing: border-box;
}

.title {
    background-color: wheat;
    color: blue;
}

.main {
    background-color: wheat;
    color: blue;
}

.footer {
    background-color: wheat;
    color: blue;
}